body{
    margin: 0;
    background-color: #fefffa;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 1528px;
    height: 106px;
}

.mt-17{
    margin-top: 17px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}

.mt-90{
    margin-top: 90px;
}

.mt-130{
    margin-top: 130px;
}

.ml-20{
    margin-left: 20px;
}

.ml-55{
    margin-left: 55px;
}

.ml-185{
    margin-left: -185px;
}

.ml-248{
    margin-left: 248px;
}

.ml-234{
    margin-left: 234px;
}

.ml-500{
    margin-left: 500px;
}

.ml-507{
    margin-left: 507px;
}

.ml-517{
    margin-left: 517px;
}

.ml-522{
    margin-left: 522px;
}

.flex{
    display: flex;
}

.fd-c{
    flex-direction: column;
}

.ai-c{
    align-items: center;
}

.jc-c{
    justify-content: center;
}

.jc-sb{
    justify-content: space-between;
}

.jc-sa{
    justify-content: space-around;
}

.side-padding{
    padding-left: 10%;
    padding-right: 10%;
}

.header1{
    width: 1528px;
    height: 106px;
    box-shadow: 0 1px 5px 0  gray;
    background-color: white;
    position: absolute;
}

.number{
    font-size: 24px;
    font-weight: 400;
}

.log-text{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;
    z-index: 1;
}

.log-img1{
    position: relative;
    left: 270px;
}

.log-img2{
    position: relative;
    top: 10px;
    left: -45px;
    z-index: 0;
}

.menu{
    width: 163px;
    height: 40px;
    margin-left: 365px;
}

.icon{
    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-left: 11px;
}

.icon-card{
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 100px;
    background-color: #fff8f0;
    box-shadow: 0 2px 5px 0  gray;
}

.header_center{
    width: 1920px;
    height: 60px;
    border-bottom: 1px solid rgba(168, 168, 168, 0.50);
}

.header2{
    width: 1018px;
    height: 24px;
}

.text{
    font-size: 18px;
    font-weight: 400;
}

.u1{
    font-size: 18px;
    font-weight: 500;
}

.u2{
    font-size: 14px;
    font-weight: 400;
    margin-top: -80px;
}

.u3{
    font-size: 14px;
    font-weight: 300;
    color: #909090;
}

.id-left{
    width: 470px;
    height: 655px;
    margin-left: 120px;
}

.lich{
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 5px;
}

.photo{
    width: 360px;
    height: 360px;
    border: 1px solid transparent;
    border-radius: 100%;
}

.id-right{
    width: 760px;
    height: 345px;
    margin-top: 240px;
}

.id-name{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.id-text{
    font-size: 18px;
    font-weight: 400;
}

.line-price{
    width: 1037px;
    height: 128px;
    border-top: 2px solid #D6D3BB;
    margin-left: 312px;
}

.bb{
      border-bottom: 2px solid #D6D3BB;
}

.flower{
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 1px 0 gray;
}

.lorem{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}

.ml{
    font-size: 14px;
    font-weight: 400;
}

.pages{
    width: 280px;
    height: 37px;
    padding-left: 50%;
}

.krug{
    width: 38px;
    height: 37px;
    border: 1px solid #E2E0CE;
    background-color: #f6f5ee;
    border-radius: 100%;
}

.krug:hover{
    background-color: #D6D3BB;
}

.footer{
    width: 1540px;
    height: 343px;
}

.end-text{
    font-size: 16px;
    font-weight: 300;
}

.carta{
    margin-left: -30px;
}

.img3{
    position: relative;
    left: 270px;
}

.img4{
    position: relative;
    left: 270px;
}

.img5{
    position: relative;
    left: 270px;
}

.img6{
    position: relative;
    left: 270px;
}

.img7{
    position: relative;
    left: 270px;
}